<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>About Page</title>
    </head>
    <body>
        {{> header}}
        <p>A Page about something.</p>
        {{> footer}}
    </body>
</html>